# Byte-compiled / cached / virtual env files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
venv/
ENV/
env/
*.env

# VSCode/IDE config files
.vscode/
.idea/

# OS/system files
.DS_Store
Thumbs.db
